@import url(./modules/css-reset.css);
@import url(./modules/utility.css);
@import url(./modules/components.css);

:root {
    --primary-color: #41435A;
    --secondary-color: #ADABF8;
    --white-color: #FAFAFA;
    --black-color: #0E0E0E;
    --light-grey: #CCCCCC;
    --medium-grey: #575757;
    --dark-grey: #303030;
}

/******************Header section******************/

header {
    background-color: var(--primary-color);
}

.header-logo {
    width: 200px;
    height: 60px;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: .7rem 2rem;
}


.header-menu {
    display: flex;
    flex-grow: 1;
}

.header-menu-item {
    display: flex;
    padding: 0 1.5rem;
    margin-top: 7px;
}

/******************banner section******************/

.banner-sec {
    background-image: url(./../../img/MusicThumbnail.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
}

.banner-sec form {
    display: flex;
    justify-content: center;
}

.search-box {
    background: rgba(143, 143, 143, 0.269);
    color: rgba(255, 255, 255, 0.379);
}

/******************main section******************/

.song-cover {
    width: 197px;
    height: 197px;
    border-radius: .5rem;
}

.song-sec {
    width: 197px;
}

.album-sec {
    background-repeat: no-repeat;
    background-size: cover;
}

#albumName {
    line-height: 4rem;
}

#artistName {
    line-height: 1.5rem;
}

.music-progress {
    height: .5rem;
    background-color: rgba(255, 255, 255, 0.380);
}

.music-progress input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.music-progress input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-appearance: none;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background-color: transparent;
}

.music-progress-bar {
    transition: all 0.2s ease 0s;
}

.music-volume-input {
    height: .3rem;
    background-color: rgba(255, 255, 255, 0.380);
    width: 10rem;
    top: 2px;
}

.music-volume-input input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.music-volume-input input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-appearance: none;
    height: .3rem;
    width: .3rem;
    border-radius: 50%;
    background-color: transparent;
}

.music-volume-bar{
    height: .3rem;
    transition: all 0.2s ease 0s;
}